<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://www.vantajs.com/dist/vanta.waves.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>About Celebrity</title>
  </head>
  
  <body>
    <div id="banner">
      <h1>WikiForb</h1>
      <h4>Is a website that provide information about top 100 high-income<h4>
      <h4>celebrities/events/products based on Forbes Global Media from 1999-2020.</h4>
    </div>

    <br><br><br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <p class="celeb-name"><b>{{ celebName }}</b></p>
          <img src="{{ thumbnail }}" class="rounded mx-auto d-block" alt="{{ celebName }}">
        </div>
        <div class="col-6">
          <div class="card detail">
            <div class="card-body">
              <p><b>Forbes Year-Rank : </b></p>
              <ul>
                {% for yr in yearRank %}
                  <li>{{ yr }}</li>
                {% endfor %}
              </ul>
              <p><b>Occupation : </b> {{ occupation }}</p>
              <p><b>Start Date : </b> {{ startDate }}</p>
              <p><b>Birth Date : </b> {{ birthDate }}</p>
              <p><b>Birth Place : </b> <a href="{{ birthPlace_link }}" target="_blank">{{ birthPlace }}</a></p>
              <p><b>Abstract : </b> {{ description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <br>
    <footer class="text-center text-white bottom" style="background-color: rgb(38, 106, 161);">    
      <div class="text-center p-3">
        © 2021 Copyright Semweb Group
      </div>
    </footer>

  </body>

</html>

<script> 
  VANTA.WAVES({
  el: "#banner",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 340.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00,
  color: 0x5588,
  shininess: 59.00,
  waveHeight: 9.50,
  waveSpeed: 0.50,
  zoom: 1.5})
</script>