<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://www.vantajs.com/dist/vanta.waves.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Result</title>
  </head>
  
  <body>
    <div id="banner">
      <h1>WikiForb</h1>
      <h4>Is a website that provide information about top 100 high-income<h4>
      <h4>celebrities/events/products based on Forbes Global Media from 1999-2020.</h4>
    </div>
    <br><br>
    
    <form method="POST">
      <h3>Search your Interest</h3>
      {% csrf_token %}
      <div class="form-group">
      <br>
        <label for="name"><b>Name</b></label>
          {{ query_forms.name }}
      </div>
      <div class="form-group">
        <label for="occupation"><b>Occupation</b></label>
          {{ query_forms.occupation }}
      </div>
      <div class="form-group">
        <label for="year"><b>Forbes Year</b></label>
          {{ query_forms.year }}
        <small id="year" class="form-text text-muted">Please enter forbes year interval 1999 to 2020.</small>
      </div>
      <div class="form-group">
        <label for="rank"><b>Forbes Rank</b></label>
          {{ query_forms.rank }}
        <small id="rank" class="form-text text-muted">Please enter forbes rank interval 1 to 100.</small>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
    <br>

    <hr><br>
    <h3>Search Results</h3>
    <br>
    <div class="container">
      <div class="row">
        {%  if query_res|length != 0 %}
          {% for celeb in query_res %}
            <div class="col-4">
              <a class = "card-link" href="{% url 'homepage:celeb_detail' celeb.celebName %}">
              <div class="card" id="card-celeb-result">
                <div class="card-body">
                  <h3 class="card-title"><b>{{ celeb.celebName }}</b></h3>
                  <p class="card-occupation"><b>Occupation :</b> {{ celeb.occupation }}</p>
                  <p class="card-year"><b>Forbes Year :</b> {{ celeb.year}}</p>
                  <p class="card-rank"><b>Forbes Rank :</b> {{ celeb.rank }}</p>
                </div>
              </div></a>
            </div>  
          {% endfor %}
        
        <div >
          {%  elif query_res|length == 0 %}
          <h3 style="text-align:center;"><b>Result Not Found</b></h3>
          {% endif %}
        </div>
        
      </div>
    </div>
    




    <footer class="text-center text-white bottom" style="background-color: rgb(38, 106, 161);">    
      <div class="text-center p-3">
        © 2021 Copyright Semweb Group
      </div>
    </footer>

  </body>

</html>

<script> 
  VANTA.WAVES({
  el: "#banner",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 340.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00,
  color: 0x5588,
  shininess: 59.00,
  waveHeight: 9.50,
  waveSpeed: 0.50,
  zoom: 1.5})
</script>