body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin-top: 15vh;
    padding-left: 50vh;
    padding-right: 50vh;
}

h1 {
    font-size: 60px;
    color: white;
    padding-top: 20vh;
    padding-left: 10vh;
}

h3 {
    text-align: center;
}

h4 {
    font-size: 20px;
    color: white;
    padding-left: 10vh;
}

.btn-primary:hover {
    -webkit-transform: scale(1.1);
}

.card {
    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: 5vh;
}

#card-celeb-result:hover {
    background-color: rgba(38, 106, 161, 0.13);
    -webkit-transform: scale(1.05)
}

.card-title {
    text-align: left;
}

.card-link:link, .card-link:visited, .card-link:hover, .card-link:active{ 
    text-decoration: none;
    color: black ;
}

p.celeb-name {
    font-size: 10vh;
    text-align: center;
}
